<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>World Wide Info</title>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
  <!-- https://fonts.google.com/ -->
  <link rel="stylesheet" href="../static/main.css" />
  <!-- https://fontawesome.com/ -->
  <link rel="stylesheet" href="../static/style.css" />

</head>

<body>
  <header class="tm-site-header">
    <h1 class="tm-mt-0 tm-mb-15">
      <span class="tm-color-primary">全球</span>
      <span class="tm-color-gray-2">World Wide</span>
    </h1>
    <em class="tm-tagline tm-color-light-gray">即時資訊</em>
  </header>

  <!-- Video banner 400 px height -->
  <div>
    <img src="/static/world.jpg" alt="" style="height:70%; width:100%;">

  </div>
  <div class="container">
    <nav class="tm-main-nav" style="display: flex; justify-content: center;">
      <ul>
        <li class="tm-nav-item">
          <a href="./news" data-effect="mfp-move-from-top" class="tm-nav-link">
            新聞
            <i class="fa-solid fa-file-lines " style="font-size: 4rem;"></i>
          </a>
        </li>
        <li class="tm-nav-item">
          <a href="./stock" data-effect="mfp-move-from-top" class="tm-nav-link" id="tm-gallery-link">
            股市
            <i class="fa-solid fa-chart-line" style="font-size: 4rem;"></i>
          </a>
        </li>
        <li class="tm-nav-item">
          <a href="./currency" data-effect="mfp-move-from-top" class="tm-nav-link" id="tm-gallery-link">
            匯率
            <i class="fa-solid fa-money-bill-transfer" style="font-size: 4rem;"></i>
          </a>
        </li>
        <li class="tm-nav-item">
          <a href="./weather" data-effect="mfp-move-from-top" class="tm-nav-link">
            氣溫
            <i class="fa-solid fa-cloud-sun" style="font-size: 4rem;"></i>
          </a>
        </li>
        <li class="tm-nav-item">
          <a href="./time" data-effect="mfp-move-from-top" class="tm-nav-link">
            時間
            <i class="fa-solid fa-clock" style="font-size: 4rem;"></i>
          </a>
        </li>
        <li class="tm-nav-item">
          <a href="./pm25" data-effect="mfp-move-from-top" class="tm-nav-link">
            台灣PM2.5
            <i class="fa-solid fa-earth-asia" style="font-size: 4rem;"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <footer class="tm-footer">
    <span>Copyright &copy; 2022 Dave Yu</span>
    <span>Web Designed by
      <a href="https://templatemo.com" title="free website templates" target="_parent"
        rel="nofollow">TemplateMo</a></span>
  </footer>

  <script src="https://kit.fontawesome.com/78a63dcbcc.js" crossorigin="anonymous"></script>
</body>

</html>