<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link rel="stylesheet" href="../static/template.css">
</head>

<body>
    <h1 class="header">全球天氣</h1>
    <h2 style="text-align: center;"><a href="../">回主頁</a></h2>
    <section>
        {% if body%}
        <table border="1">
            <thead>
                <tr>
                    {%for th in head%}
                    <th>
                        {{th}}
                    </th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
                {%for row in body%}
                <tr>
                    {%for data in row%}
                    <td>{{data}}</td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </tbody>
            {% else%}
            <h2>讀取失敗...</h2>
            {% endif%}
    </section>
    <br />

</body>

</html>